.subunit {
  margin-left: 5%;
}

.subunit > h3 {
  text-align: center;
}

.unit {
  margin-bottom: 20px;
}

select {
  height: 28px;
  width: 30%;
}
button {
  height: 36px;
  margin-bottom: 15px;
}

/* *** INTRO and DONORS *** */
/* Table height MUST be the same as .mainImage height */
.mainImage{
  display: inline-block;
  width: 20%;
  height: 200px;
  border: solid;
  border-width: 1px;
}

table {
  height: 200px;
}

.about {
  display: inline-block;
  width: 45%;
}

.donors {
  display: flex;
  justify-content: center;
}
.donorLogo {
  margin: 20px 10% 20px 10%; //tweak this for the spread between logos
}

/* *** UNIT 1 *** */
.unit1RadarChart {
  display: inline-block;
}

.unit1BarChart {
  display: inline-block;
  text-align: center;
}

/* *** UNIT 2 *** */
.unit2 {
  text-align: center;
}
.mapSelector {
  display: inline-block;
}
.unit2RadarChart {
  display: inline-block;
}
.unit2BarChart {
  display: none;
}
#subnationalDropdown {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* *** UNIT 3 *** */
.unit3 {
  text-align: center;
}
#areaSelector > select {
  display: inline-block;
  margin: 0 20 15 20;
  font-size: 15px;
}

#select1Color, #select2Color {
  width: 20px;
  height: 20px;
  display: inline-block;
}

#select1Color {
  background-color: rgba(4,89,113,1);
}

#select2Color {
  background-color: rgba(228,61,78,1);
}
/* *** UNIT 4 *** */
.unit4 {
  text-align: center;
}
.unit4Buttons {
  width: 30%;
  display: inline-block;
}

.unit4BarChart {
  display: inline-block;
}

.subindexName {
  text-transform: uppercase;
}
