.subunit {
  margin-left: 5%;
}

* {
  font-family: Raleway;
}

.subunit > h3 {
  text-align: center;
}

.unit {
  margin-bottom: 20px;
}

select {
  height: 28px;
  width: 30%;
}
button {
  height: 36px;
  margin-bottom: 15px;
  padding-bottom: 25px;
}

/* *** INTRO and DONORS *** */
/* Table height MUST be the same as .mainImage height */
.donorLogo {
  margin: 20px 10% 20px 10%; //tweak this for the spread between logos
}

/* *** UNIT 1 *** */
.unit1 {
  text-align: center;
}
.intro {
  width: 70%;
  margin: 0 auto;
}

.donors {
  text-align: center;
}
.donors > img {
  display: inline-block;
  margin: 0 auto;
}
#dana {
  transform: translate(0,-12px);
}
#taf {
  transform: translate(0, 8px);
}
.unit1RadarChart {
  display: inline-block;
}

.unit1BarChart {
  display: inline-block;
}

/* *** UNIT 2 *** */
.unit2 {
  text-align: center;
}
.mapSelector {
  display: inline-block;
}
.unit2RadarChart {
  display: inline-block;
}
.unit2BarChart {
  display: none;
}
#subnationalDropdown {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* *** UNIT 3 *** */
.unit3 {
  text-align: center;
}
#areaSelector > select {
  display: inline-block;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

#select1Color, #select2Color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#select1Color {
  background-color: rgba(4,89,113,1);
}

#select2Color {
  background-color: rgba(228,61,78,1);
}
/* *** UNIT 4 *** */
.unit4 {
  text-align: center;
}

#subindexSelector {
  display: inline-block;
  margin: 0 20 15 20;
  font-size: 15px;
  width: 30%;
}
.unit4BarChart {
  display: inline-block;
}

.subindexName {
  text-transform: uppercase;
}
